<h1>Welcome to KittenKorner! For all your kitten needs</h1>

<p>If you have had the pleasure of raising a kitten but are not planning on adopting another anytime soon, use kittenkorner to sell, exchange or give away kitten things you don’t need anymore! 
</p>

<p> We know that can take a lot of energy, time and money to raise into happy, healthy cats! Not only are they energetic furballs who require constant play, but they also grow out of things (sometimes very quickly) resulting in a lot of waste.
KittenKorner is here to help by facilitating a second hand marketplace for all things kittens grow out of! This includes:</p>
<ul>
<li>Harnesses, leads, collars </li>
<li>Toys </li>
<li>Beds </li>
<li>Scratching posts, cat towers and other cat furniture </li>
<li>Unopened food </li>
<li>Litter (no used litter items!) </li>
<li>Health treatments (flea, worm etc) </li>
<li>Carriers and backpacks </li></ul>

<p> Sign up or sign in to buy listings, or post a listing for sale!</p>



