
<h1> Woohoo you are now watching this item! </h1>
<h1> Items you are watching! </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Sold</th>
      <th>User</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @watchlisted_items.each do |item| %>
      <tr>
        <td><%= item.listings %></td>
      </tr>
    <% end %>